.footer {
    width: 100%;
    height: $height-footer;
    line-height: 60px;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
}
#error_block {
  display: none;
}
.game-field{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
