.footer {
    width: 100%;
    height: $height-footer;
    line-height: 60px;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
}

.casino-table  {
  /* width: 200px; */
  background-color: green;
}
.casino-table td{
  /* border-style: solid;
  border-color: white;
  border-width: thin; */
  align: center;
}
table div{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-cell{
  width: 50px;
  height: 50px;
}
.line-cell{
  background-color: red;
}
.h-line-cell{
  height: 8px;
  width: 50px;
}
.w-line-cell{
  width: 8px;
  height: 50px;
}
.dot-cell{
  width: 8px;
  height: 8px;
}
