.footer {
    width: 100%;
    height: $height-footer;
    line-height: 60px;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
}
.casino-table  {
  width: 200px;
  background-color: green;
  align-content: center;
}
.casino-table td{
  border-style: solid;
  border-color: white;
  border-width: thin;
}
div{
  color: white;
}
.number-cell{
  width: 35px;
  height: 35px;
}
.h-line-cell{
  height: 5px;
  width: auto;
}
.w-line-cell{
  width: 5px;
  height: auto;
}
.dot-cell{
  width: 5px;
  height: 5px;
  background-color: red;
}
